/** Imagen de bienvenida con un texto que entra con efecto de barrida horizontal **/
.bienvenida {
    background-image: url(/img/frente2x.png);
    background-size: cover;
    background-position: center;
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;

    h2 {
        font-weight: bold;
        text-align: center;
        color: azure;
        animation-name: barrida;
        background-color: rgba(0, 0, 0, 0.4);
        animation-duration: 1s;
    }
}

@keyframes barrida {
    0% {
        filter: opacity(0);
        translate: 100px;
    }

    100% {
        filter: opacity(1);
        translate: 0;
    }
}

main {
    width: 100%;
    background: linear-gradient(45deg, $color3, $color4);
    padding-bottom: 30px;
    font-family: $fuenteSecundaria;
    color: black;
    overflow: hidden;
}


h1 {
    text-align: center;
    padding: 25px;
}

.unidades {
    background: linear-gradient(90deg, white, $color2);
    border-radius: 20px;
    border: 2px solid $color3;

    img {
        border-radius: 20px;
    }
}

/** Filas de características en la página principal**/
.caracteristicas {
    width: 100%;
    max-width: 1200px;

    img {
        width: 100%;
    }
}

.presentacion {
    font-size: 25px;
    color: white;
    padding: 65px;
}


.flex-center {
    @include flex-center(row);
}

.info {
    @include flex-center(column);
    color:$color2;
    a{
        text-decoration: none;
    }
}

svg {
    margin: 8px;
}

.frente,
.atras {
    border: 2px solid white;
    border-radius: 15px;
}

.flip-card{
    height: 450px!important;
    width: 100%;
}

.mobile, .desktop{
    display: none;
    justify-content: center;
}