.form {
    background-color: $color3;
    // grid-row-gap: 10px;
    // grid-column-gap: 10px;
    padding: 2em;
    border-radius: 20px;
}

.form div input,
select,
textarea {
    width: 100%;
    height: 40px;
}

textarea {
    height: 100px !important;
}

label,
input[type=submit] {
    color: $color2;
    font-weight: 800;
}

input[type=submit] {
    background-color: $color4;
    border-radius: 10px;
    border-color: $color4;
}

form {
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

#mensaje {
    height: 300px;
}

.gracias{

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: $color2;
        opacity: 1;
        animation: fade-in 1s;
    }
}

/** Transición para aparecer después del loader **/
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear;
    position: absolute;
    align-self: center;
    opacity: 0;
}

@keyframes rotation {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}