@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #add7f6 !important;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100px;
  font-family: "Tilt Warp", cursive;
  display: inline-block;
  background-color: #add7f6;
}

nav button {
  position: absolute;
  top: 27px;
  right: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 25%;
}
.logo img {
  height: 80%;
}

nav {
  width: 75%;
  text-align: right;
}
nav ul {
  margin: 0px;
  display: flex;
  flex-wrap: row wrap;
  list-style: none;
  justify-content: flex-end;
}
nav a {
  text-decoration: none;
  color: #2b3a67;
  padding: 15px;
  border-radius: 15px;
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
}
nav a:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1843137255);
  transform: scale(1.1);
  background-color: #1d7874;
  color: #ecce8e;
}

.seleccionado {
  border: #ecce8e;
  color: #1d7874;
}

/** Imagen de bienvenida con un texto que entra con efecto de barrida horizontal **/
.bienvenida {
  background-image: url(/img/frente2x.png);
  background-size: cover;
  background-position: center;
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
}
.bienvenida h2 {
  font-weight: bold;
  text-align: center;
  color: azure;
  animation-name: barrida;
  background-color: rgba(0, 0, 0, 0.4);
  animation-duration: 1s;
}

@keyframes barrida {
  0% {
    filter: opacity(0);
    translate: 100px;
  }
  100% {
    filter: opacity(1);
    translate: 0;
  }
}
main {
  width: 100%;
  background: linear-gradient(45deg, #1d7874, #2b3a67);
  padding-bottom: 30px;
  font-family: "Roboto Mono", monospace;
  color: black;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 25px;
}

.unidades {
  background: linear-gradient(90deg, white, #ecce8e);
  border-radius: 20px;
  border: 2px solid #1d7874;
}
.unidades img {
  border-radius: 20px;
  transition-property: transform, box-shadow;
  transition-duration: 1s;
}
.unidades img:hover {
  transform: scale(1.3);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1843137255);
}

/** Filas de características en la página principal**/
.caracteristicas {
  width: 100%;
  max-width: 1200px;
}
.caracteristicas img {
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

svg {
  margin: 8px;
}

.form {
  background-color: #1d7874;
  padding: 2em;
  border-radius: 20px;
}

.form div input,
select,
textarea {
  width: 100%;
  height: 40px;
}

textarea {
  height: 100px !important;
}

label,
input[type=submit] {
  color: #ecce8e;
  font-weight: 800;
}

input[type=submit] {
  background-color: #2b3a67;
  border-radius: 10px;
  border-color: #2b3a67;
}

form {
  width: 80%;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

#mensaje {
  height: 300px;
}

.gracias {
  display: flex;
  justify-content: center;
}
.gracias h2 {
  line-height: 600px;
  text-align: center;
  color: #ecce8e;
  opacity: 1;
  animation: fade-in 1s;
}

/** Transición para aparecer después del loader **/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear;
  position: absolute;
  align-self: center;
  opacity: 0;
}

@keyframes rotation {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
footer {
  width: 100%;
  min-height: 70px;
  background-color: #846075;
}
footer p,
footer input[type=submit] {
  color: #ecce8e;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

/** Ocultar el menú hamburguesa para dispositivos tablet y desktop**/
@media only screen and (min-width: 651px) {
  button {
    display: none;
  }
  .collapse {
    display: contents !important;
  }
}
@media only screen and (max-width: 650px) {
  header {
    position: sticky;
    top: 0;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .logo img {
    margin: 0;
    max-width: 100%;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  nav li {
    width: 100%;
    line-height: 40px;
  }
  nav a {
    text-decoration: none;
    color: #2b3a67;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }
  nav a:hover {
    background-color: #1d7874;
    color: #ecce8e;
  }
  header {
    height: auto;
  }
  .flex-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1250px) and (min-width: 651px) {
  .logo,
  nav {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 992px) {
  .unidades {
    height: 33%;
  }
  .unidades p {
    overflow-y: auto;
    height: 65%;
  }
  .unidades img {
    max-width: 100%;
  }
  .unidades p,
  .unidades h2 {
    margin: 0;
  }
  .unidades > div {
    height: 100%;
  }
}
@media screen only and (min-width: 797px) {
  .form {
    height: 500px;
  }
}
@media only screen and (min-height: 796px) and (min-width: 651px) {
  .contacto {
    display: flex;
    align-items: center;
    height: calc(100vh - 170px);
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
